<% if (error.length) { %>
    <div class="bg-red-700 text-red-100 p-3 rounded-lg"><%= error %> </div>
<% } %>

<% if (message.length) { %>
    <div class="bg-green-700 text-green-100 p-3 rounded-lg"><%= message %> </div>
<% } %>