<a href="products/<%= product.id %> ">Edit</a>

<input type="text" value="<%= product.title %>">
<input type="number" value="<%= product.price %>">
<input type="number" value="<%= product.quantity %>">
<button type="submit">Edit Product</button>

